{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block html_attribs %} lang="en"{% endblock %}
    {% block metas %}<meta charset="UTF-8">{% endblock %}
    {% block title %}Organizer{% endblock %}
    {% block styles %}
    {{super()}}
    <link rel="stylesheet"
      href="{{url_for('.static', filename='bower_components/bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
    {% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <h4>{{ message }}</h4>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block content %}

{% endblock %}
{% endblock %}